* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
  }
  
  a:hover {
    color: white;
  }
  a:visited
  {
      text-decoration: none;
      decoration: none;
  
  
  }
  .headertop{
    width: 100%;
    display: inline-block;
    background-color: rgba(0,139, 139,0.8);
    padding: 10px 15px;
    margin: 0;
  }
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  
  }
  
  .menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-around;
  }
  .links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
  }
  
  .mainpage {
    margin-left: 20px;
  }
  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  }
  
  .first-item {
    order: 1;
  }
  
  .last-item {
    order: -1;
  }
  .githublink,
  .projectlink {
    align-self: flex-end;
    margin-bottom: 20px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }
  .footer-three {
    flex: 2;
  }
  .footer-one,
  .footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
  }
  .databasedemos {
    margin-left: auto;
  
  
  }
  .databasedemos a:visited
  { color: #fff;
  
  }
  .mainpage a:visited
  { color: #fff;
  
  }
  .header-container a:visited
  {
    color:#5995DA;
  }
  .wrapper {
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    margin:0;
  }
